hidden = ["target", ".cargo"]

entrypoint = "src/main.rs"
modules = ["rust-stable"]

[nix]
channel = "stable-24_05"

[gitHubImport]
requiredFiles = [".replit"]

[workflows]
runButton = "Run BTC Pay Server"

[[workflows.workflow]]
name = "Run BTC Pay Server"
author = 40186242
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PKG_CONFIG_PATH=\"${PKG_CONFIG_PATH}:$(pkg-config --variable pc_path pkg-config)\" cargo run --bin btc-pay-server"

[[workflows.workflow]]
name = "Run Test Client"
author = 40186242
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PKG_CONFIG_PATH=\"${PKG_CONFIG_PATH}:$(pkg-config --variable pc_path pkg-config)\" cargo run --bin client"

[[ports]]
localPort = 8080
externalPort = 80
